<footer style="background-color: #3e4551;" class="fixed-bottom">
  <div class="container">
    <div class="row" style="color:white;">
      <div class="col-md-3">
        <h6 class="text-uppercase font-weight-bold text-center">
                    <strong>Company name</strong>
        </h6>
        <hr style="width: 60px;">
        <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
      <div class="col-md-3">
        <h6 class="text-uppercase font-weight-bold text-center">
                    <strong>Products</strong>
        </h6>
        <hr style="width: 60px;">
        <p>
          <a href="#" class="footer-text">MDBootstrap</a>
        </p>
        <p>
          <a href="#" class="footer-text">MDWordPress</a>
        </p>
        <p>
          <a href="#" class="footer-text">BrandFlow</a>
        </p>
        <p>
          <a href="#" class="footer-text">Bootstrap Angular</a>
        </p>
      </div>
      <div class="col-md-3">
        <h6 class="text-uppercase font-weight-bold text-center">
                    <strong>Useful links</strong>
        </h6>
        <hr style="width: 60px;">
        <p>
          <a href="#" class="footer-text">Your Account</a>
        </p>
        <p>
          <a href="#" class="footer-text">Become an Affiliate</a>
        </p>
        <p>
          <a href="#" class="footer-text">Shipping Rates</a>
        </p>
        <p>
          <a href="#" class="footer-text">Help</a>
        </p>
      </div>
      <div class="col-md-3">
        <h6 class="text-uppercase font-weight-bold text-center">
                    <strong>Contact</strong>
        </h6>
        <hr style="width: 60px;">
        <p>
          <i class="fa fa-home mr-3"></i> New York, NY 10012, US</p>
        <p>
          <i class="fa fa-envelope mr-3"></i> info@example.com</p>
        <p>
          <i class="fa fa-phone mr-3"></i> + 01 234 567 88</p>
        <p>
          <i class="fa fa-print mr-3"></i> + 01 234 567 89</p>
      </div>
    </div>
  </div>
</footer>
.
